node_modules
**/node_modules
**/dist/*
!**/dist/README.md
**/.data
**/.cache
**/.env

**/db/

.DS_Store

# migration tool data
server/db/

_prod

# databse seed data
*.seed.sql

# certs
**/cert

yarn-error.log

**/.env.local
